<mtapp:setting
	id="app_engine_endpoint"
	label="<__trans phrase="End Point">"
>
<input type="text" id="app_engine_endpoint" name="app_engine_endpoint" value="<mt:Var name="app_engine_endpoint" />" />
</mtapp:setting>
